div.row
    div.col-sm-6.col-footer
        h6.title-footer ABOUT
        p.text-footer The Real-Time Systems Laboratory (ReTiS Lab) is one of the world's leading research groups in the field of real-time embedded systems, scheduling algorithms, advanced operating systems and highly reliable control software. The research group, directed by Prof. Giorgio Buttazzo, was founded in 1993, and is currently made up of 30 people, including 5 teachers, 10 researchers and 15 doctoral students.
    div.col-sm-6.col-footer
        h6.title-footer LICENSE &amp; DISCLAIMER
        p.text-footer This dashboard and all the files included are covered by the GPL v3 license. The license does not cover any other packages included nor software and/or packages mentioned into. All trademarks belongs to respective owners.