a.navbar-brand(href="/")
    img(src="/images/retis-logo.png", width="100")
button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false")
    span.navbar-toggler-icon
div.collapse.navbar-collapse#navbarNav
    ul.navbar-nav
        li.nav-item.active
            a.nav-link(href="#") HOME
        li.nav-item
            a.nav-link(href="https://retis.santannapisa.it") RETIS
        li.nav-item
            a.nav-link(href="https://santannapisa.it/")
                b SCUOLA SUPERIORE SANT'ANNA